page-my-in-purchase {

    .navbarSty{
      text-align: center;
      z-index: 9
    }
    .navIcon{
      position: absolute;
      top: 16px;
      left: 20px;
      color:black;
      font-size: 18px;
      z-index: 99999
    }

    .myDiv{
      height: 120px;
      background-color: white;
      margin: 10px;
      display: flex;
      margin-bottom: 0;
      align-items: center;
    }
    .myPic{
      width: 90px;
      height: 90px;
      justify-content: flex-end;
      margin-right: 15px;
    }
    .myInDiv{
      flex: 1;
      height: 90px;
      margin-left: 15px;
    }
    .myFootDiv{
      height: 30px;
      padding-left: 10px;
      display: flex;
      margin-left: 10px;
      margin-right: 10px;
      background-color: white;
      align-items: center;
      margin-top: 1px;
    }
    .myFootSecondDiv{
      margin-left: 15px;
      font-family: 宋体;
      font-size: 12px;
    }
    .myFootInDiv{
      height: 20px;
      width: 50px;
      font-size: 12px;
      font-family: 微软雅黑;
      color: red;
      border: solid red 1px;
      text-align: center;
    }
    .myFootInTTDiv{
      height: 20px;
      width: 50px;
      font-size: 12px;
      font-family: 微软雅黑;
      color: #007aff;
      border: solid #007aff 1px;
      text-align: center;
    }
    .myFootInTTTDiv{
      height: 20px;
      width: 50px;
      font-size: 12px;
      font-family: 微软雅黑;
      color: #32db64;
      border: solid #32db64 1px;
      text-align: center;
    }
    .myFootInTTTTDiv{
      height: 20px;
      width: 50px;
      font-size: 12px;
      font-family: 微软雅黑;
      color: #32db64;
      border: solid #32db64 1px;
      text-align: center;
    }
    .myFootInTDiv{
      height: 20px;
      width: 50px;
      font-size: 12px;
      font-family: 微软雅黑;
      color: #9E9C9C;
      border: solid #9E9C9C 1px;
      text-align: center;
    }
    .nameDiv{
      height: 25px;
      font-family: 微软雅黑;
      font-weight: 200;
      font-size: 15px;
      color: black;
      text-overflow:ellipsis;
      overflow:hidden;
      margin-bottom: 5px;
    }
    .otherDiv{
      color:#9E9C9C;
      font-family: 宋体;
      font-size: 13px;
      margin-bottom: 5px;
    }

    .myIcon{
      width: 14px;
      height:14px;

    }
    .areaDiv {
      line-height: 20px;
      color: #666666;
      height: 20px;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      width: 200px;
      padding-right: 10px;
      margin-top: 8px;
      font-size: 14px;
    }



}
