<ion-header>
  <ion-navbar color="primary">
    <ion-title>确认信息</ion-title>
  </ion-navbar>
</ion-header>
<ion-content >
  <div  *ngFor="let option of myRealData">
    <div class="firstDiv">
      <ion-icon name="paper" style="font-size: 24px;width: 20px"></ion-icon>
      <div class="companyName">{{option.companyName}}</div>
    </div>
    <div  *ngFor="let good of option.data">
    <div class="secondDiv" >
      <img src="{{good.imgPathList}}" class="pic">
      <div class="innerDiv">
        <div class="goodName">{{good.goodName}}</div>
        <div class="price">{{good.currency}}{{good.goodPrice}}/{{good.unit}}</div>
      </div>
    </div>
    <div class="loopHead" >
      <div class="loopHeadP">购买数量</div>
      <div class="loopHeadM">
        <span class="buyNum">
          {{good.buyNum}}
        </span>
        {{good.unit}}
      </div>
    </div>
    <div class="loopHead" style="position: relative">
      <div class="loopHeadP">
        <ion-label class="neededDate"> 需求日期</ion-label></div>
      <div class="loopHeadM">
        <ion-datetime displayFormat="YYYY-MM-DD" placeholder="请选择需求日期" [(ngModel)]="good.requiredDate" cancelText="取消" doneText="确定"> </ion-datetime>
      </div>
    </div>
    </div>
    <div class="total" >
      共{{option.data.length}}件商品   小计 : {{option.currency}}
      <span class="myTotal">
        {{option.total}}
      </span>
    </div>
  </div>
  <div class="loopHead" style="position: relative">
     <div class="loopHeadP">
       <ion-label class="organization">选择收货库存组织</ion-label>
     </div>
     <div class="loopHeadM">
       <ion-select [(ngModel)]="organize" style="max-width: 100%;text-align: right" cancelText="取消" okText="确定"  [selectOptions]="selectOptions" >
         <ion-option  value="{{option.id}}" *ngFor="let option of organization">{{option.name}}</ion-option>
       </ion-select>
     </div>
  </div>
</ion-content>
<ion-footer style="height: 50px;color: white">
  <ion-grid style="height: 100%;padding: 0">
    <ion-row style="height: 100%">
      <ion-col col-8 class="myCol">
        合计 : ¥{{total}}
      </ion-col>
      <ion-col col-4 style="padding: 0;height: 100%">
        <div class="submitC" ><button [disabled]=flag (click)="confirm()" class="myButton">提交申请</button></div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
