<!--
  Generated template for the RegisterMainPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>注册</ion-title>
  </ion-navbar>

</ion-header>


<ion-content >
  <div id="register_main">
    <ion-img src="{{stepIcon}}" [width]="rlogoWidth" [height]="rlogoHeight" style="margin-left: 15px;background-color: white;margin-top: 30px;"></ion-img>
    <div *ngIf="step == 1">
      <ion-item>
        <ion-input type="text" placeholder="请填写公司名称 ( 必填 )" [(ngModel)]="companyName"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label> 请选择所属行业</ion-label>
        <ion-select [(ngModel)]="industry" title="选择所属行业" okText="确定" cancelText="取消">
          <ion-option *ngFor="let industry of industrys" [value]="industry">{{ industry }}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>请选择经营年限</ion-label>
        <ion-select [(ngModel)]="operatingYear" title="选择经营年限" okText="确定" cancelText="取消">
          <ion-option *ngFor="let operatingYear of operatingYears" [value]="operatingYear">{{ operatingYear }}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>请选择经营规模</ion-label>
        <ion-select [(ngModel)]="size" title="选择企业规模" okText="确定" cancelText="取消">
          <ion-option *ngFor="let size of sizes" [value]="size">{{ size }}</ion-option>
        </ion-select>
      </ion-item>
    </div>
    <div *ngIf="step == 2">
      <ion-item style="line-height: 35px;">
        <ion-label><img src="assets/imgs/ic_phone.png" style="width: 15px;width: 20px;"/></ion-label>
        <ion-input placeholder="请输入手机号" [(ngModel)]="tel1"></ion-input>
        <button item-content ion-button round outline (click)="verifyCode()">{{codeMessage}}</button>
      </ion-item>
      <ion-item style="line-height: 35px;">
        <ion-label><img src="assets/imgs/ic_verify.png" style="width: 15px;width: 20px;"/></ion-label>
        <ion-input placeholder="请输入验证码" [(ngModel)]="verifyCode1" id="password1"></ion-input>
      </ion-item>
    </div>
    <div *ngIf="step == 3">
      <ion-item style="line-height: 35px;">
        <ion-label><img src="assets/imgs/ic_username.png" style="width: 15px;width: 20px;"/></ion-label>
        <ion-input placeholder="请输入会员名" [(ngModel)]="vipName"></ion-input>
      </ion-item>
      <div style="margin-left: 15px;color: #999;">
        会员号为5-30位英文字母和数字
      </div>
      <ion-item style="line-height: 35px;margin-top: 10px;">
        <ion-label><img src="assets/imgs/ic_password.png" style="width: 15px;width: 20px;"/></ion-label>
        <ion-input placeholder="请输入密码" [(ngModel)]="vipNamePass"></ion-input>
      </ion-item>
      <div style="margin-left: 15px;color: #999;">
        密码至少由六位数字组成
      </div>
    </div>
    <div *ngIf="step == 1">
      <button style="background: #008ec3;
    position: absolute;
    left: 3%;
    width: 94%;
    line-height: 35px;
    color: white;
    margin-top: 30px;" (click)="nextStep(2)">
        下一步
      </button>
      <button style="background: white;
    width: 100%;
    margin-top: 80px;
    font-size: 13px;" (click)="jump()">
        跳过
      </button>
    </div>
    <div *ngIf="step == 2">
      <button style="background:white;position: absolute;right: 53%;width:30%;line-height: 35px;color: #008ec3;margin-top: 10px;border: solid 1px #008ec3;margin-top: 30px;
      "  (click)="selectStep(0)">
        上一步
      </button>
      <button style="background:#008ec3;position: absolute;left: 53%;width:30%;line-height: 35px;color:white;margin-top: 30px;" (click)="selectStep(1)">
        下一步
      </button>
    </div>
    <div *ngIf="step == 3">
      <button style="background:white;position: absolute;right: 53%;width:30%;line-height: 35px;color: #008ec3;margin-top: 10px;border: solid 1px #008ec3;margin-top: 30px;
      "  (click)="selectStep(0)">
        上一步
      </button>
      <button style="background:#008ec3;position: absolute;left: 53%;width:30%;line-height: 35px;color:white;margin-top: 30px;" (click)="commitRegisterInfo()">
        提交
      </button>
    </div>
  </div>
</ion-content>


