<!--
  Generated template for the CustomerManagePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title><span *ngIf="showSearch == 'false'">客户管理</span>
    </ion-title>
    <ion-searchbar (ionInput)="getItems()" [(ngModel)]="myInput" *ngIf="showSearch == 'true'" style="height: 0.2rem"
                   (ionCancel)="onCancel()"
    >

    </ion-searchbar>
    <!--<ion-buttons end>-->
      <!--<button (click)="showSe($event)">-->
        <!--&lt;!&ndash;<ion-icon ios="ios-search" md="md-search"></ion-icon>&ndash;&gt;-->
        <!--<img src="assets/ic_search.png"/>-->
      <!--</button>-->
    <!--</ion-buttons>-->
    <ion-buttons end>
      <button ion-button icon-only  (click)="onCancelOrSearch(0)" *ngIf="cancelOrSearch == 1">
        <ion-icon  name="search"></ion-icon>
      </button>
      <button ion-button icon-only  (click)="onCancelOrSearch(1)" *ngIf="cancelOrSearch == 0">
        取消
      </button>
    </ion-buttons>
  </ion-navbar>

  <div style="height: 40px; position: relative" class="ready" *ngIf="showSearchLoaction == 'false'">
    <button  style="border-bottom: solid 3px #0071ff" (click)="onPageTypeChange('0')">
      已审批
    </button>
    <button style="" (click)="onPageTypeChange('1')">
      未审批
    </button>
  </div>
  <div class="searchLoaction" *ngIf="showSearchLoaction == 'true'">
    <ul *ngFor="let data of searchLoactionData let i = index">
      <li>
        <span><ion-icon name="alarm"></ion-icon></span>
        <span class="conter" (click)="setSearch(data)">{{data}}</span>
        <span (click)="removeSearch(i)"><ion-icon name="close"></ion-icon></span>
      </li>
    </ul>
  </div>
</ion-header>


<ion-content>
<div style="background-color: #eee;" *ngIf="showSearchLoaction == 'false'" >
  <button ion-item *ngFor="let data of dataSource1" (click)="itemTapped($event, data)" style="border-top: solid 10px #eee ">
    <div style="color: #555;">{{data.name}}</div>
    <div>
    <div style="padding-top: 10px;color: #aaa;">社会信用代码:{{data.codeCredit}}</div>
  <div style="color: #aaa">客户分类:{{data.ratings}}</div>
  </div>
    <div style="position: absolute;top: 0;right: 0;height: 100%;display: flex;justify-content: center;align-items: center">
      <!--<ion-icon ios="ios-arrow-forward" md="md-arrow-forward"></ion-icon>-->

    </div>
  </button>
</div>


</ion-content>
