<!--
  Generated template for the MyPurchasePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary" >
    <ion-title *ngIf="isCopy==0">我的报价</ion-title>
    <ion-title *ngIf="isCopy==1">我收到的报价</ion-title>
  </ion-navbar>

</ion-header>


<ion-content >
  <div  *ngFor="let i of data" (click)="quotationDetails(i.id)" style="border-bottom: solid 1px #eeeeee;padding-bottom: 5px">
    <div style="width: 100%;height: 30px;margin: 5px;line-height: 30px;display: flex;justify-content: flex-end;padding-left: 10px;padding-right: 10px"><span style="flex: 1;font-size: 14px">报价单号 : {{i.qutationCode}}</span>
      <span style="width: 80px; color:#9E9C9C;font-family: 宋体;" >{{i.quotationDate}}</span>
    </div>
    <div class="myDiv">
      <div class="myInDiv">
        <div class="otherDiv">商品 : {{i.goodsName}}</div>
        <div class="otherDiv" *ngIf="isCopy==0">需求单位 : {{i.companyName}}</div>
        <div class="otherDiv" *ngIf="isCopy==1">供应商 : {{i.supplierName}}</div>
        <div class="otherDiv">含税价 : {{i.currency}}{{i.price}}</div>
        <div class="otherDiv">联系人 : {{i.contactor}}——{{i.contactPhone}}</div>
      </div>
      <ion-icon name="arrow-dropright" style="font-size: 25px;width: 10%;text-align: right;margin-right: 10px"></ion-icon>
    </div>
  </div>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="加载中...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
