<ion-header >
  <ion-navbar color="primary" hideBackButton="true"  class="navbarSty">
    <ion-buttons start *ngIf="chain==0">
      <button ion-button icon-only (click)="ownerBack()" navPush >
        <ion-icon name="arrow-back"></ion-icon>Back
      </button>
    </ion-buttons>
    <ion-icon name="arrow-back" class="navIcon" (click)="ownerBack()" navPush *ngIf="chain==1"></ion-icon>
    <ion-title >招标列表</ion-title>
  </ion-navbar>
</ion-header>
<ion-content >
  <div class="loopContentBottom">
    <div *ngFor="let invite of invites" (click)="inviteDetails(invite.id)" style="padding: 5px;width: 100%;height: 70px;" [class.dan]="invite.flag=='单数'" >
      <div style="display: flex;align-items: center;width: 100%;margin-top: 6px">
        <ion-icon name="document"  style="font-size: 21px;margin-right:8px"></ion-icon>
        <div style="flex: 1;font-size: 15px">[{{invite.address}}]  {{invite.title}}</div></div>
      <div style="color: #555555;font-size: 13px">{{invite.issueDate}} </div>
    </div>
  </div>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="加载中...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
