<ion-header >
  <ion-navbar color="primary" hideBackButton="true"  class="navbarSty">
    <ion-buttons start *ngIf="chain==0">
      <button ion-button icon-only (click)="ownerBack()" navPush >
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-icon name="arrow-back" class="navIcon" (click)="ownerBack()" navPush *ngIf="chain==1"></ion-icon>
    <ion-title >招标列表</ion-title>
  </ion-navbar>
</ion-header>
<ion-content >
  <div class="loopContentBottom">
    <div *ngFor="let invite of invites" (click)="inviteDetails(invite.id)" style="padding: 5px;width: 100%;min-height: 60px;line-height: " [class.dan]="invite.flag=='单数'" >
      <div style="display: flex;align-items: center;width: 100%;padding-left: 23px;margin-top: 10px">
        <div style="width: 10px;height: 18px;line-height: 18px;font-weight: bold">·</div>
        <!--<ion-icon name="document"  style="font-size: 24px;margin-right: 10px"></ion-icon>-->
        <div style="flex: 1;font-size: 15px">[{{invite.address}}]  {{invite.title}}</div></div>
      <div style="color: #555555;font-size: 11px;padding-left: 23px;padding-right: 23px;text-align: left;margin-top: 3px">{{invite.issueDate}}</div>

    </div>
  </div>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="加载中...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
