page-purchase-details {
  .myButtonTwo{
    height: 100%;
    background-color: #FF525C ;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    color: white
  }
  .myButtonOne{
    height: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    color:black
  }
  .myFooter{
    height: 50px;
    color: white;
    border-top: 1px solid #cccccc
  }
  .loopHeadStart{
    color: red;
    margin-right: 5px;
    height: 100%;
    display:flex;
    align-items: center
  }
    .picSty{
      width: 100%;
      height: 250px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-bottom: solid 1px #eeeeee;
    }
    .dSty{
      box-sizing: border-box;
      width: auto;
      height: 70px;
      margin: 20px 10px 10px 10px;
      border-bottom: solid #eeeeee 1px
    }
    .innerDSty{
      display: flex;
      align-items: center;
      font-family: 微软雅黑;
      width: 100%
    }
    .nameSty{
      overflow:hidden;
      text-overflow:ellipsis;
      white-space: nowrap;
      font-weight:bold;
      font-size: 18px;
      flex: 1;
    }
    .nameInSty{
      display: flex;
      justify-content: flex-end;
      width: 150px;
      color: red
  }
  .myIonIcon{
    height: 16px;
    width: 16px;
    margin-right: 5px
  }
    .priceSty{
      margin-top: 10px;
      color: #488aff;
      font-size: 16px;
    }
    .loopHead{
      margin-right: 15px;
      margin-left: 15px;
      background-color: white;
      height: 50px;
      display: flex;
      border-bottom: solid 1px #eeeeee
    }
    .loopHeadP{
      font-family: 微软雅黑;
      font-size: 14px;
      width: 100px;
      display: flex;
      align-items: center;
      justify-content: flex-start;

      color: #666666;
    }
    ::-webkit-scrollbar{
      display:none;
    }
    .loopHeadM{
      font-family:  微软雅黑;
      font-size: 14px;
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      color: #666666;
    }

  .propertySty{
    background-color: #F0F0F0;
    height: 25px;
    line-height: 25px;
    text-align:center;
    color: #9E9C9C;
  }



    .myCol{
      display: flex;
      color: black;
      padding: 20px;
      align-items: center;
      justify-content: flex-end;
      font-size: 16px
    }
    .submitC{
      height: 100%;
      background-color: #FF525C;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 15px
    }
    .colInnerO{
      border-right: solid #eeeeee;
      font-size:20px;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      color: black;
      background-color: white;
    }
  .loopHeadT{
    width: 100%;
    height: 150px;
    display: flex;
    border-bottom: solid #eeeeee 1px;
    }
  .headOne{
    flex: 1;
    height: 100%;
    text-align: center;
    position: relative;
    }
  .OneInOne{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50px;
    position: absolute;
    top:50%;
    margin-top: -50px;
    color: black;
    font-weight: bold;
    font-family: 微软雅黑;
    font-size: 14px;
    }
  .OneInTwo{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50px;
    position: absolute;
    bottom:50%;
    margin-bottom: -50px;
    color: red;
    font-family: 微软雅黑;
    font-size: 18px;
    }
  .decriSty{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-top: solid #eeeeee 2px;
    padding-top: 10px;
    min-height: 200px;
    }
  .myAlert{
    height: 100%;
  }
  .try{
    position: fixed;
    height: 360px;
    width: 80%;
    z-index: 9999;
    background-color: white;
    opacity:1;
    top:20%;
    left: 10%;
    -webkit-animation:lefteaseinAnimate 0.6s ;
  }
  .help{
    position:fixed;
    top: 44px;
    left:0;
    width: 100%;
    height: 100%;
    z-index: 999;
    background: rgba(0, 0, 0, 0.7);
  }

  @-webkit-keyframes lefteaseinAnimate {
    0% {
      left:-1000px;
      top:20%;

    }
    100% {
      left:10%;
      top:20%;

    }
  }
  .noS{
    overflow: hidden;
    height: 100%
  }
  @-webkit-keyframes lefteaseinAnimateT {
    0% {
      left:-1000px;
      top:50px;

    }
    100% {
      left:0;
      top:50px;

    }
  }
  .navbarSty{
    text-align: center;
    z-index: 9
  }
  .navIcon{
    position: absolute;
    top: 16px;
    left: 20px;
    color: black;
    font-size: 18px;
    z-index: 99999
  }
  .ddSty{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-family: 微软雅黑;
    font-weight:bold;
    border-bottom: solid 1px #eeeeee;
  }
  .loopHeadr{
    background-color: white;
    height: 50px;
    display: flex;
    border-bottom: solid 1px #eeeeee
  }
  .loopHeadu{
    color: #9E9C9C;
    font-family: 微软雅黑;
    font-size: 15px;
    min-width: 100px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 15px
  }
  ::-webkit-scrollbar{
    display:none;
  }
  .loopHeady{
    color: #9E9C9C;
    font-family:  微软雅黑;
    font-size: 15px;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right:15px
  }
  .myInput{
    width: 100%;
    border: none;
    text-align: end;
  }
  .mySelect{
    max-width: 80%;
  }
  .myButtOut{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 70px;
    text-align: center
  }
  .myButtonOne{
    position: absolute;
    bottom: 10px;
    width: 70px;
    height:36px;
    left: 20%;

  }
  .myButtonTwo{
    position: absolute;
    bottom: 10px;
    right: 20%;
    width: 70px;
    height:36px;


  }
  }


