<ion-header>
  <ion-navbar color="primary" hideBackButton="true" class="navbarSty">
    <ion-buttons start *ngIf="chain==0">
      <button ion-button icon-only (click)="ownerBack()" navPush >
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-icon name="arrow-back" class="navIcon" (click)="ownerBack()" navPush *ngIf="chain==1"></ion-icon>
    <ion-title  >集采详情</ion-title>
  </ion-navbar>
</ion-header>
<ion-content >
  <div *ngIf="flag" class="help"> </div>
    <div *ngIf="flag" class="try">
      <div class="ddSty">填写以下报名信息,提交后将发送至买家</div>
      <div class="loopHeadr">
        <div class="loopHeadu">
          <span class="loopHeadStart">*</span>
          机构:
        </div>
        <div class="loopHeady" style="position: relative">
          <ion-select [(ngModel)]="organization" placeholder="请选择机构" cancelText="取消" okText="确定" [selectOptions]="selectOptionsOne" class="mySelect">
            <ion-option *ngFor="let option of organizations" value='{{option.id}}'>{{option.name}}</ion-option>
          </ion-select>
        </div>
      </div>
      <div class="loopHeadr">
        <div class="loopHeadu">
          <span class="loopHeadStart">*</span>
          收货地址:
        </div>
        <div class="loopHeady">
          <input placeholder="请填写收货地址" class="myInput"  [(ngModel)]="area">
        </div>
      </div>
      <div class="loopHeadr">
        <div class="loopHeadu">
          <span style="color: red;margin-right: 5px;height: 100%;display:flex; align-items: center">*</span>
          申请数量:
        </div>
        <div class="loopHeady">
          <input placeholder="请填写申请数量" class="myInput" type="number" min="0"  [(ngModel)]="num">
        </div>
      </div>
      <div class="loopHeadr">
        <div class="loopHeadu">
          <span class="loopHeadStart">*</span>
          单位:
        </div>
        <div class="loopHeady">
          <input  class="myInput"  [(ngModel)]="unit">
        </div>
      </div>
      <div class="loopHeadr">
        <div class="loopHeadu"><span style="color: red;margin-right: 5px;height: 100%;display:flex; align-items: center;width: 6px"></span>备注: </div>
        <div class="loopHeady">
          <input placeholder="请填写备注" class="myInput"  [(ngModel)]="note">
        </div>
      </div>
      <div class="myButtOut">
        <button ion-button class="myButtonOne" (click)="myCancel()">取消</button>
        <button ion-button class="myButtonTwo" (click)="mySubmit()">确定</button>
      </div>
  </div>
  <div id="aaa" >
  <div style="height: 250px;margin-top: 0;width: 100%">
    <ion-slides [pager]="numOfPic" autoplay="600" speed="800"  #sliders>
      <ion-slide *ngFor="let slide of slides" >
        <div class="picSty">
          <img src="{{slide}}" style="width: auto;height: auto">
        </div>
      </ion-slide>
    </ion-slides>
  </div>
  <div class="dSty">
    <div class="innerDSty">
      <span class="nameSty">{{data.name}}</span>
      <div class="nameInSty" *ngIf="data.gatherStatus=='1'">
        <ion-icon name="alarm" class="myIonIcon"></ion-icon>
        <span><span id="day">{{data.store}}</span>天<span id="hour">{{data.type}}</span>时<span id="minute">{{data.salesVolume}}</span>分<span id="second">{{data.whetherIn}}</span>秒</span>
      </div>
    </div>
    <div class="priceSty">¥ {{data.price}} <span style="font-size: 12px;color: black">预计最高采购价 ({{data.currency}}/{{data.unit}})</span></div>
  </div>
  <div class="loopHead">
    <div class="loopHeadP">地区</div>
    <div class="loopHeadM">{{data.deliveryAddress}}</div>
  </div>
    <div class="loopHead">
      <div class="loopHeadP">供应商</div>
      <div class="loopHeadM">{{data.companyName}}</div>
    </div>
  <div class="loopHead">
    <div class="loopHeadP">开始时间</div>
    <div class="loopHeadM">{{data.groupFrom}}</div>
  </div>
  <div class="loopHead">
    <div class="loopHeadP">结束时间</div>
    <div class="loopHeadM">{{data.groupTo}}</div>
  </div>
  <div class="loopHead">
    <div class="loopHeadP">成团数量</div>
    <div class="loopHeadM">{{data.clustersNum}}</div>
  </div>
  <div class="loopHead">
    <div class="loopHeadP">保证金</div>
    <div class="loopHeadM">{{data.margin}}</div>
  </div>
  <div class="loopHeadT">
     <div class="headOne">
       <div class="OneInOne">已报名企业数量</div>
       <div class="OneInTwo">{{data.registerdCompanyQty}}<span style="font-size: 14px;margin-left: 8px">家</span></div>
     </div>
     <div class="headOne">
       <div class="OneInOne">已申请数量</div>
       <div class="OneInTwo">{{data.appliedQty}}<span style="font-size: 14px;margin-left: 8px">{{unit}}</span></div>
     </div>
  </div>
  <div class="propertySty">需求信息</div>
  <div class="decriSty">
    <span style="width: 90%;height: 90%;text-align: center" id="description">{{data.detail}}</span>
  </div>
  </div>
</ion-content>
<ion-footer class="myFooter">
  <ion-grid style="height: 100%;padding: 0">
    <ion-row style="height: 100%">
      <ion-col col-4 style="padding: 0;height: 100%">
        <div  class="colInnerO">
          <ion-icon name="star" ></ion-icon>
        </div>
      </ion-col>
      <ion-col col-4 style="padding: 0;height: 100%">
        <div class="submitC" style="background-color: white">
          <button  class="myButtonOne" (click)="goToEnrollInfo() ">
            查看已报名信息
          </button>
        </div>
      </ion-col>
      <ion-col col-4 style="padding: 0;height: 100%">
        <div class="submitC" >
          <button  class="myButtonTwo" (click)="myCheck()">
            马上报名
          </button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
