<ion-header >
  <ion-navbar color="primary" hideBackButton="true"  class="navbarSty">
    <div class="head">
      <div class="searchBorder">
        <input [(ngModel)]="searchKey" id="myIII" class="myInput" placeholder="搜索产品的品类/名称" (focus)="myShowCancel()">
        <ion-icon name="search" class="search" (click)="goSearch()"></ion-icon>
      </div>
      <span class="myCan" *ngIf="showCancel==true" (click)="hiddenCan()">取消</span>
    </div>
  </ion-navbar>
</ion-header>
<ion-content >
    <div class="myCancel" *ngIf="showCancel"></div>
    <div>
      <div class="slidesBorder">
        <ion-slides pager autoplay="600" speed="800"  #sliders  >
          <ion-slide *ngFor="let slide of slides">
            <img src="{{slide.imgPath}}" class="mySlidesPic">
          </ion-slide>
        </ion-slides>
      </div>
      <div class="loopContent loopContentFirst" >
        <ion-grid class="myGrid">
          <ion-row wrap style="height: 100%;">
            <ion-col col-3 text-center *ngFor="let option of options" (click)="optionDetails(option)" class="myCol">
              <div>
                <img src="{{option.src}}" style="width: 30px;height: 30px">
                <div >{{option.name}}</div>
              </div>
            </ion-col>
            <ion-col col-3 text-center style="position: relative" (click)="optionDetail()" class="myCol">
              <div>
                <img src="assets/imgs/物流.png" style="width: 30px;height: 30px">
                <div >物流中心</div>
                <img src="assets/imgs/敬请期待.png" class="unLoad">
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
      <div class="loop">
        <div class="loopHead" (click)="goProducts()">
          <div class="loopHeadP"><img src="assets/imgs/line.png" style="height: 20px;margin-right: 5px">最新产品</div>
          <div class="loopHeadM">查看全部 ></div>
        </div>
        <div class="loopContent" *ngIf="products.length>0">
          <ion-grid class="gird" style="padding-right: 23px;padding-left: 23px;height: 170px">
            <ion-row nowrap class="ionrow">
              <ion-col col-4  *ngFor="let product of products" (click)="productionDetails(product.name,product.howHot,product.howMuch,product.id) " style="height: 100%;padding: 5px;">
                <div class="imgBorder">
                  <img src='{{product.imgPathList}}' style="max-height: 99px">
                </div>
                <div class="dSty" >
                  <div class="nameSty">{{product.name.substring(0,9)}}</div>
                  <div class="popSty"  [class.hot]="product.hot === '热'" [class.cold]="product.hot==='低'">{{product.hot}}</div>
                </div>
                <div class="productionInfo" ><span style="color: #007aff;">{{product.currency+product.price}}</span>/{{product.unit}}</div>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>
      </div>
      <div class="loop">
        <div class="loopHead" (click)="goApplys()">
          <div class="loopHeadP"><img src="assets/imgs/line.png" style="height: 20px;margin-right: 5px">最新需求</div>
          <div class="loopHeadM">查看全部 ></div>
        </div>
        <div class="loopContent" style="height: 200px" *ngIf="applys.length>0">
          <ion-grid class="gird" style="padding-right: 23px;padding-left: 23px;height: 190px">
            <ion-row nowrap class="ionrow">
              <ion-col col-4 text-center *ngFor="let apply of applys" (click)="appliesDetails(apply.id)" style="height: 100%">
                <div  class="imgBorder">
                  <img src='{{apply.imgPathList}}' style="max-height: 99px">
                </div>
                <div class="applyName">{{apply.name}}</div>
                <div class="applyInfo">
                  需求:
                  <span style="color: #007aff">{{apply.demandNum}}{{apply.unit}}</span>
                </div>
                <div class="applyDate" >
                  日期:
                  <span style="color: #007aff">
                    {{apply.requireDate}}
                  </span>
                </div>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>
      </div>
      <div class="loop">
        <div class="loopHead" (click)="goPurchases()">
          <div class="loopHeadP"><img src="assets/imgs/line.png" style="height: 20px;margin-right: 5px">最新集采</div>
          <div class="loopHeadM">查看全部 ></div>
        </div>
        <div class="loopContent" *ngIf="purchases.length>0">
          <ion-grid class="gird" style="padding-right: 23px;padding-left: 23px;height: 170px">
            <ion-row nowrap class="ionrow">
              <ion-col col-4 text-center *ngFor="let purchase of purchases" (click)="goToPurchaseDetails(purchase.id)" style="height: 100%">
                <div  class="imgBorder">
                  <img src='{{purchase.imgPathList}}' style="max-height: 99px">
                </div>
                <div class="purchaseInclude">
                  <div class="purchaseName">{{purchase.name}}</div>
                  <div class="purchaseStatus" >{{purchase.gatherStatus}}</div>
                </div>
                <div class="purchaseInfo" ><span style="color: #488aff">{{purchase.currency}}{{purchase.price}}</span>/{{purchase.unit}}</div>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>
      </div>
      <div class="loop" style="height: 220px">
        <div class="loopHead" (click)="goInvites()">
          <div class="loopHeadP"><img src="assets/imgs/line.png" style="height: 20px;margin-right: 5px">最新招标</div>
          <div class="loopHeadM">查看全部 ></div>
        </div>
        <div class="loopContentBottom" *ngIf="invites.length>0">
          <div *ngFor="let invite of invites" (click)="inviteDetails(invite.id)" style="padding: 5px;width: 100%">
            <div class="inviteInclude">
              <div class="inviteStart">·</div>
              <div class="inviteInfo">[{{invite.address}}]  {{invite.title}}</div></div>
            <div class="inviteDate">{{invite.issueDate}}</div>
          </div>
        </div>
      </div>
    </div>
</ion-content>

