page-guid {
  .myBack{
    position: absolute;
    top:15px;
    left: 15px;
    z-index: 9999;
    border-radius: 15px;
    width: 30px;
    height: 30px;
  }
  .loginButton{
    background: white;
    position: absolute;
    right: 53%;
    width: 40%;
    height: 30px;
    bottom: 30px;
  }
  .registerButton{
    background: #008ec3;
    position: absolute;
    left: 53%;
    width: 40%;
    height: 30px;
    bottom: 30px;color: white;
  }
}
