page-my-information {

    .loopHead{
      background-color: white;
      height: 50px;
      display: flex;
      border-bottom: solid 1px #eeeeee
    }
    .loopHeadP{
      color: black;
      font-weight: 300;
      font-family: 微软雅黑;
      font-size: 14px;
      min-width: 100px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      padding-left: 15px
    }
    ::-webkit-scrollbar{
      display:none;
    }
    .loopHeadM{
      color: #9E9C9C;
      font-family:  微软雅黑;
      font-size: 14px;
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      padding-right:15px
    }

  .loopHeadN{
    font-family:  微软雅黑;
    font-size: 14px;
    flex: 1;
    padding-right:15px;
    padding-top: 10px;
    padding-bottom: 15px;
  }
  .loopHeadS{
    background-color: white;
    min-height: 50px;
    display: flex;


  }

}
