<!--
  Generated template for the ProductionPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header >
  <ion-navbar color="primary" hideBackButton="true"  class="navbarSty" id="navbar">
    <ion-buttons start *ngIf="chain==0">
      <button ion-button icon-only (click)="ownerBack()" navPush >
        <ion-icon name="arrow-back"></ion-icon>Back
      </button>
    </ion-buttons>
    <ion-icon name="arrow-back" class="navIcon" (click)="ownerBack()" navPush *ngIf="chain==1"></ion-icon>

    <ion-title >产品列表</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="search()">
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>
     <!--<ion-icon name="search"  style="position: absolute;right: 10px;font-size: 25px;top: 50%;margin-top: -12px;color: white"></ion-icon>-->
  </ion-navbar>
  <ion-grid style="width: 100%;height: 50px">
  <ion-row  style="height: 100%; align-items: center">
    <ion-col col-3 text-center  (click)="normal()" >
      <div [class.normal]="firstChoice===0"> 综合 ↓</div>
    </ion-col>
    <ion-col col-3 text-center  (click)="sortBy()" >
      <div [class.sortBy]="secondChoice===0"> 上架时间 ↓</div>
    </ion-col>
    <ion-col col-3 text-center  (click)="price()" >
      <div [class.price]="thirdChoice===0"> 价格 ↑</div>
    </ion-col>
    <ion-col col-3 text-center (click)="presentPopover($event)" >
      <div [class.sort]="fourthChoice===0">筛选 ↓</div>
    </ion-col>
  </ion-row>
  </ion-grid>
</ion-header>
<ion-content>
  <div *ngIf="flagOne" class="help" (click)="flagOne=false"> </div>
  <div *ngIf="flagOne" class="try">
    <input class="input" [(ngModel)]="key" autofocus>
    <button ion-button clear style="height: 32px;flex: 1;" (click)="goSearch()">确定</button>
  </div>
  <div class="loopContentT">
    <ion-grid class="gird">
      <ion-row wrap class="ionrow">
        <ion-col col-4 text-center *ngFor="let product of products" style="height: 150px" (click)="goodsDetails(product.name,product.howHot,product.howMuch,product.id) " >
          <img src='{{product.imgPathList}}' class="picSty"/>
          <div class="dSty">
            <div class="nameSty">{{product.name}}</div>
            <div class="popSty"  [class.hot]="product.hot === '热'" [class.cold]="product.hot==='低'">{{product.hot}}</div>
          </div>
          <div ><span style="color: #007aff">{{product.currency+product.price}}</span>/{{product.unit}}</div>
        </ion-col>
      </ion-row>
    </ion-grid>

  </div>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)" *ngIf="firstChoice==0">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="加载中...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)" *ngIf="secondChoice==0&&fourthChoice==1">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="加载中...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)" *ngIf="thirdChoice==0&&fourthChoice==1">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="加载中...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)" *ngIf="fourth==0&&secondChoice==1&&thirdChoice==1">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="加载中...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)" *ngIf="shaiByPrice==0">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="加载中...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)" *ngIf="shaiByTime==0">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="加载中...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
