page-popover {
  .inputNum{
    width: 50%;
    border: solid 1px #eee;
    height: 30px;
    border-radius: 3px;
    background-color: #f3f3f3;
    color: #999999;
    text-align: center;
  }
  .submitB{
    border-radius: 5px;
    height: 100%;
    background-color:deepskyblue;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px
  }
  .submitC{
    border-radius: 5px;
    height: 100%;
    background-color:deepskyblue;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px
  }

}
